<div class="categorygroup">
<div class="sponsor">
<a href="http://opensource.org/docs/definition.html"><img src=
"/images/osi-certified-90x75.png" width="90" height="75" border="0"
alt="OSI Certification Mark"></a></div>

<div class="sponsor"><strong>Hosted on</strong><br>
<a href="https://github.com/lballabio/QuantLib"><img
src="/images/GitHub_Logo.png"
height="41" border="0" alt="QuantLib on GitHub">
</a></div>

<div class="sponsor"><strong>Supported by</strong><br>
<a href="http://www.statpro.com"><img src=
"/images/statpro.jpg" width="98"
height="33" border="0" alt="StatPro Logo"></a></div>
</div>
