<div class="categorygroup">
<div class="sponsor">
<a href="http://opensource.org/docs/definition.html"><img src=
"/images/osi-certified-90x75.png" width="90" height="75" border="0"
alt="OSI Certification Mark"></a></div>

<div class="sponsor"><strong>Hosted by</strong><br>
<a href="http://sourceforge.net/projects/quantlib"><img
src="http://sflogo.sourceforge.net/sflogo.php?group_id=12740&amp;type=13"
width="120" height="30" border="0" alt="Get QuantLib at
SourceForge.net. Fast, secure and Free Open Source software downloads">
</a></div>

<div class="sponsor"><strong>Supported by</strong><br>
<a href="http://www.statpro.com"><img src=
"/images/statpro.jpg" width="98"
height="33" border="0" alt="StatPro Logo"></a></div>
</div>
