<div class="featurerow">
<div class="feature">
<h3 class="featuretitle">Get QuantLib</h3>
<p class="featuretext">Head to
our <a href="/download.shtml">download</a> page to get the latest
official release..</p>
</div>

<div class="feature">
<h3 class="featuretitle">Documentation</h3>
<p class="featuretext"><a href="/docs.shtml">Documentation is
available</a> in several formats from a number of sources.</p>
</div>

<div class="feature">
<h3 class="featuretitle">Need Help?</h3>
<p class="featuretext">If you need to ask a question, subscribe to
our <a href="/mailinglists.shtml">mailing list</a> and post it
there.</p>
</div>
</div>

<div class="featurerow">
<div class="feature">
<h3 class="featuretitle">Found a bug?</h3>
<p class="featuretext">Open an issue on <a href="https://github.com/lballabio/QuantLib/issues">GitHub</a>; if you have a patch, <a href="https://github.com/lballabio/quantlib/pulls">open a pull request</a> instead.</p>
</div>

<div class="feature">
<h3 class="featuretitle">Want to contribute?</h3>
<p class="featuretext"><a href="https://help.github.com/articles/fork-a-repo">Fork</a>
our repository
on <a href="https://github.com/lballabio/quantlib">GitHub</a> and
start coding.  Please have a look at
our <a href="/newdeveloper.shtml">developer intro</a>
and <a href="/style.shtml">guidelines</a>.</p>
</div>

<div class="feature">
<h3 class="featuretitle">More info</h3>
<p class="featuretext">Here is the QuantLib <a
href="/reference/license.html">license</a>, the <a
href="/reference/group.html">list of contributors</a>, and the <a
href="https://github.com/lballabio/QuantLib/releases">version history</a>.</p>
</div>
</div>

<div class="featurerow">
</div>

