<div class="featurerow">
<div class="feature">
<h3 class="featuretitle">Get QuantLib</h3>
<p class="featuretext">Head to our <a
href="/download.shtml">download</a> page to get the latest official
release, or check out the latest development version from our <a
href="/git.shtml">git</a> repository.
Bindings, ports to other languages, and AAD-enabled versions are listed
on the <a href="/extensions.shtml">extensions page</a>.</p>
</div>

<div class="feature">
<h3 class="featuretitle">Documentation</h3>
<p class="featuretext"><a href="/docs.shtml">Documentation is
available</a> in several formats from a number of sources. You can
also read our <a href="/install.shtml">installation instructions</a>
to get QuantLib working on your computer.</p>
</div>

<div class="feature">
<h3 class="featuretitle">Need Help?</h3>
<p class="featuretext">If you need to ask a question, subscribe to
our <a href="/mailinglists.shtml">mailing list</a> and post it
there. Before doing that, though, you might want to look at the <a
href="/faq.shtml">FAQ</a> and check if it was already answered.</p>
</div>
</div>

<div class="featurerow">
<div class="feature">
<h3 class="featuretitle">Found a bug?</h3>
<p class="featuretext">Open an issue on <a href="https://github.com/lballabio/QuantLib/issues">GitHub</a>; if you have a patch, <a href="https://github.com/lballabio/quantlib/pulls">open a pull request</a> instead.</p>
</div>

<div class="feature">
<h3 class="featuretitle">Want to contribute?</h3>
<p class="featuretext">Fork our repository on <a
href="https://github.com/lballabio/quantlib">GitHub</a> and start
coding (instructions are <a
href="https://help.github.com/articles/fork-a-repo">here</a>).  Please
have a look at our <a href="/newdeveloper.shtml">developer intro</a>
and <a href="/style.shtml">guidelines</a>.</p>
</div>

<div class="feature">
<h3 class="featuretitle">More info</h3>
<p class="featuretext">Here is the QuantLib <a
href="/reference/license.html">license</a>, the <a
href="/reference/group.html">list of contributors</a>, and the <a
href="/reference/history.html">version history</a>.</p>
</div>
</div>

<div class="featurerow">
</div>

