<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
    <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  </head>


  <body>
    {% include header.html %}

    <main class="page-content">
      <div class="wrapper">
        <h1 class="subtitle">QuantLib: a free/open-source library for quantitative finance</h1>

        <div class="features">
          {% include usermenu.html %}
        </div>

        <div class="addtopspace">
          {{ content }}
        </div>
      </div>
    </main>

  </body>

</html>
