<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
    <link rel="stylesheet" href="/styles/splash.css" type="text/css">
    <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  </head>


  <body>
    <div id="container">

      {% include header.html %}
      {% include banner.html %}

      <div id="menu">
        {% include usermenu.html %}
        {% include sponsors.html %}
      </div>

      <div id="content">
        {{ content }}
      </div>

      <div id="menuafter">
        {% include usermenu.html %}
      </div>
      <div class="footer">
        {% include footer.html %}
      </div>

    </div>
  </body>

</html>
